@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@300;400&display=swap');


/* font-family: 'Poppins',
sans-serif;
font-family: 'Roboto',
sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common styles */

:root 
{
    --darkBg: #0f0f0f;
    --activeBg:#272727;
    --textColor: #ffffff;
    --linkColor:#ffffff;
    --hrColor: #3c3c3c;
    --channelText:#767676;
}




body 
{
    background: var(--darkBg);
}
.pages 
{
    margin-left: 14rem;
    padding-top: 5rem;

}

.titles 
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--textColor);
}

a 
{
    text-decoration: none;
    color: var(--linkColor);
}

.smallTitle 
{
    font-size: 0.86rem;
    font-family: poppins;
    font-weight: 500;
}

.channelDetailsText
{
    font-size: 0.8rem ;
    font-weight: 500;
    font-family: poppins;
    color: var(--channelText);
}

.viewsCounts
{
    font-size: 0.7rem;
    color: var(--channelText);
    font-family: poppins;
}