.card 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    border-radius: 1rem;
    margin: 1rem 0;
}
.card:hover 
{
    cursor: pointer;
}
.thumbnailDiv
{
    width: 100%;
    border-radius: 1.25rem;
  
}
.thumbnail 
{
    width: 100%;
    border-radius: 1.25rem;
    height: 202px;
}
.videoDesc
{
    color: var(--textColor);
    display: flex;
    align-items: center;
    padding: 1rem 0.85rem;
}
.channelLogo
{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin:0 0.5rem ;
}

.viewsCounts span
{
    margin-right: 0.25rem;
}


