.card 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 290px;
    border-radius: 1rem;
    margin: 1rem 0;
    border: 1px solid rgba(32, 32, 32, 0.571);
}
.thumbnailDiv
{
    width: 100%;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
  
}
.thumbnail 
{
    width: 100%;
    border-radius: 1.25rem;
}
.videoDesc
{
    color: var(--textColor);
    display: flex;
    align-items: center;
    padding: 1rem 0.85rem;
}
.channelLogo
{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin:0 0.5rem ;
}


